.about-container {
  padding: 1rem;
  .about {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    color: #fab700;
    padding-bottom: 1.5rem;
  }
  .about-wrapper {
    .image {
      display: none;
    }
    .text-container {
      h1 {
        font-weight: 600;
        font-size: 20px;
        color: #2196f3;
        padding-bottom: 1rem;
      }
      p {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #424242;
      }
    }
  }
}
@media screen and (min-width: 778px) {
  .about-container {
    .about {
      font-size: 36px;
      font-weight: 700;
    }
    padding: 4rem 3rem;
    .about-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem;
      .image {
        display: block;
      }
      .text-container {
        h1 {
          font-size: 36px;
          letter-spacing: 0.03em;
          padding-bottom: 2rem;
        }
        p {
          font-size: 28px;
          line-height: 150%;
        }
      }
    }
  }
}
