.hero-container {
  margin-top: 55px;
  padding: 1.5rem 2rem;
  background-image: url("../assests/img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;

  .business {
    font-weight: 700;
    font-size: 1.5625rem;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    line-height: 125%;
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    color: white;
  }
  button {
    background: white;
    border-radius: 10px;
    width: 100%;
    color: #224dd0;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 24px 33px;
    border: none;
    margin: 1.5rem 0;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
}
@media screen and (min-width: 778px) {
  .hero-container {
    margin-top: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 0;
    .text-container {
      width: 70%;
    }

    .business {
      font-weight: 700;
      font-size: 3rem;
      line-height: 66px;
    }
    p {
      font-size: 1.5625rem;
      line-height: 150%;
    }
    button {
      font-size: 1rem;
      margin-bottom: 0;
      width: 294px;
    }
  }
}
